<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        table {
            border-collapse: separate;
            border-spacing: 50px 0;
        }

        td {
            padding: 10px 0;
        }
    </style>
    <title>Delphi</title>
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='lib/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static',filename='js/new-age.min.js') }}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/simple-line-icons/css/simple-line-icons.css') }}">

    <!-- Theme CSS -->
    <!-- <link href="css/new-age.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static',filename='css/new-age.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Delphi: The Oracle of YouTube</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="home.html">Search Another Video</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <script>
            var player;

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('video', {
                    width: 600,
                    height: 400,
                    videoId: '{{vidid}}',
                    playerVars: {
                        color: 'white',
                    },
                    events: {
                        onReady: initialize
                    }
                });
                function initialize() {
    
                    // Update the controls on load
                    updateTimerDisplay();
                    updateProgressBar();
    
                    // Clear any old interval.
                    clearInterval(time_update_interval);
    
                    // Start interval to update elapsed time display and
                    // the elapsed part of the progress bar every second.
                    time_update_interval = setInterval(function () {
                        updateTimerDisplay();
                        updateProgressBar();
                    }, 1000)
    
                }
            }
            function clickTime(identifier) {
                console.log($(identifier).data('id'));
                player.seekTo($(identifier).data('id'));
            }
            function addRow(query, time, value, seconds) {
                var table = document.getElementById("search-table");
                var row = table.insertRow(0);
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                var cell2 = row.insertCell(2);
                console.log(time);
                cell0.innerHTML = query;
                cell1.innerHTML = '<a id="play-video" data-id=' + seconds + ' onclick="clickTime(this);" href="#">' + time + '</a><br/>';
                cell2.innerHTML = value;
            }
    
            function sendData() {
                var x = document.getElementById("myForm");
                console.log(x.value);
                $.ajax({
                    type: "POST",
                    url: "/getQuery",
                    data: {
                        data: x.value,
                        vidid: '{{vidid}}'
                    }
                }).done(function (o) {
                    rx = o;
                    console.log(rx);
                    // insert blank row between searches
                    var table = document.getElementById("search-table");
                    var row = table.insertRow(0);
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    // create and populate rows of table
                    for (a = 0; a < rx.length; a++) {
                        var query_ = rx[a][2];
                        var time__ = rx[a][0];
                        var hours = Math.floor(time__ / 3600);
                        var hours_;
                        var minutes_;
                        var seconds_;
    
                        var minutes = Math.floor((time__ % 3600) / 60);
                        var seconds = Math.floor(time__ % 3600 % 60);
                        if (hours.toString().length == 1) {
                            hours_ = "0" + hours.toString();
                        }
                        else {
                            hours_ = hours.toString;
                        }
                        if (minutes.toString().length == 1) {
                            minutes_ = "0" + minutes.toString();
                        }
                        else {
                            minutes_ = minutes.toString();
                        }
                        if (seconds.toString().length == 1) {
                            seconds_ = "0" + seconds.toString();
                        }
                        else {
                            seconds_ = seconds.toString();
                        }
                        var time_ = hours_ + ":" + minutes_ + ":" + seconds_;
                        var value_ = rx[a][1];
                        addRow(query_, time_, value_, time__);
                    }

                    var table = document.getElementById("search-table");
                    var row1 = table.insertRow(0);
                    var cell01 = row1.insertCell(0);
                    var cell11 = row1.insertCell(1);
                    var cell21 = row1.insertCell(2);
		    cell01.innerHTML = "Term";
                    cell11.innerHTML = "Time";
                    cell21.innerHTML = "Probability";
                });
            }
        </script>
        <div class="container">
        <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-sm-7">
                    <div id="video"></div>
                    <script src="https://www.youtube.com/iframe_api"></script>
                </div>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" id="myForm" class="form-control" value="" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button onclick="return sendData()" class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                    <div style="height: 370px; overflow: auto;">
                        <table id="search-table" class="table">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </header>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a target="_blank" href="https://twitter.com/delphioracle67"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100016731729937"><i
                            class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a target="_blank" href="https://plus.google.com/u/0/108074215956950222463"><i
                            class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>
