<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delphi</title>
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='lib/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static',filename='js/new-age.min.js') }}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/simple-line-icons/css/simple-line-icons.css') }}">

    <!-- Theme CSS -->
    <!-- <link href="css/new-age.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static',filename='css/new-age.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<header>
    <div class="container">
        <!--<div class="col-sm-7">-->
        <div id="content">
            <!-- style="display: none" -->


        </div>
        <!--<div class="row">-->

        <div id="video"></div>

        <script src="https://www.youtube.com/iframe_api"></script>

    </div>
    <script>
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('video', {
                width: 600,
                height: 400,
                videoId: '{{vidid}}',
                playerVars: {
                    color: 'white',
                },
                events: {
                    onReady: initialize
                }
            });
            function initialize() {

                // Update the controls on load
                updateTimerDisplay();
                updateProgressBar();

                // Clear any old interval.
                clearInterval(time_update_interval);

                // Start interval to update elapsed time display and
                // the elapsed part of the progress bar every second.
                time_update_interval = setInterval(function () {
                    updateTimerDisplay();
                    updateProgressBar();
                }, 1000)

            }


        }
        //        $(document).ready(function () {
        //            $('#play-video').on('click', function (ev) {
        //                $("#myVideo")[0].src += ("#t=" + )//"&autoplay=1";
        //                ev.preventDefault();
        //            });
        //        });
        //        document.body.onclick = function (e) {
        //            console.log('smash');
        //            e = window.event ? event.srcElement : e.target;
        //            if (e.className && e.className.indexOf('time') != -1) alert(e.value);
        //            else console.log('lemme smash' + e.value);
        //        }
        function clickTime(identifier) {
            console.log($(identifier).data('id'));
            player.seekTo($(identifier).data('id'));
        }
        function addRow(query, time, value) {
            var table = document.getElementById("search-table");

            var row = table.insertRow(0);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            console.log(time);
            cell0.innerHTML = query;
            cell1.innerHTML = '<a id="play-video" data-id=' + time + ' onclick="clickTime(this);" href="#">' + time + '</a><br/>';
            cell2.innerHTML = value;
        }

        function sendData() {
            var x = document.getElementById("myForm");
            console.log(x.value);
            $.ajax({
                type: "POST",
                url: "/getQuery",
                data: {
                    data: x.value,
                    vidid: '{{vidid}}'
                }
            }).done(function (o) {
                rx = o;
                console.log(rx);
                for (a = 0; a < rx.length; a++) {
                    addRow(rx[a][2], rx[a][0], rx[a][1]);

                }

                var table = document.getElementById("search-table");
                var row1 = table.insertRow(0);
                var cell31 = row1.insertCell(0);
                var cell11 = row1.insertCell(1);
                var cell21 = row1.insertCell(2);
                cell11.innerHTML = "Time";
                cell21.innerHTML = "Probability";
                cell31.innerHTML = "Search Term";

            });
        }
    </script>
    <div class="input-group">
        <input type="text" id="myForm" class="form-control" value="" placeholder="Search for...">
        <span class="input-group-btn">
            <button onclick="return sendData()" class="btn btn-secondary" type="button">Go!</button>
        </span>
    </div>
    <table id="search-table" class="table table-hover table-bordered" style="margin-top: 100px">
        <!-- NOTE(Victoria): Display the top 5 times -->
        <!-- NOTE(Victoria): "?t=_s" or "?t=_m_s" -->
        <thead>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!--</div>-->
    </div>
    </div>
    </div>
</header>

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a target="_blank" href="https://twitter.com/delphioracle67"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100016731729937"><i
                        class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a target="_blank" href="https://plus.google.com/u/0/108074215956950222463"><i
                        class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
    </div>
</footer>


</body>

</html>